<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<section style="min-height: 92.1vh; background-color: #f6f6ee">

		<div class="container mt-5 p-5">
			<div class="row">
				<div class="col-md-5 p-5">
					<img alt="" src="img/istockphoto-1756146667-2048x2048.jpg"
						width="100%" style="margin-top: 180px; margin-left: -90px">
				</div>
				<div class="col-md-7 p-2">
					<div class="card-sh p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header text-center">
							<p class="fs-3"
								style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 15px; margin-bottom: 20px;">REGISTER</p>
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold text-center"
									style="font-size: 1.8rem; font-weight: 700;">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold text-center"
									style="font-size: 1.8rem; font-weight: 700;">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</div>
						<div class="card-body">
							<form action="/saveUser" method="post">
								<div class="row">
									<div class="col">
										<label class="form-label"
											style="color: #505C3C; font-weight: 600; font-size: 20px">Full
											Name</label> <input required class="form-control" name="fullName"
											type="text" style="color: #6b6b47;">
									</div>
									<div class="col">
										<label class="form-label"
											style="color: #505C3C; font-weight: 600; font-size: 20px">Phone
											Number</label> <input required class="form-control"
											name="phoneNumber" type="number" style="color: #6b6b47;">
									</div>
								</div>
								<div class="col">
									<label class="form-label"
										style="color: #505C3C; font-weight: 600; font-size: 20px">Email</label>
									<input required class="form-control" name="email" type="email"
										style="color: #6b6b47;">
								</div>
								<div class="row">
									<div class="col">
										<label class="form-label"
											style="color: #505C3C; font-weight: 600; font-size: 20px">Address</label>
										<input required class="form-control" name="address"
											type="text" style="color: #6b6b47;">
									</div>

								</div>


								<div class="row">
									<div class="col">
										<label class="form-label"
											style="color: #505C3C; font-weight: 600; font-size: 20px">Password</label>
										<input required class="form-control" name="passwordHash"
											type="password" id="pass" style="color: #6b6b47;">
									</div>
									<div class="col">
										<label class="form-label"
											style="color: #505C3C; font-weight: 600; font-size: 20px">Password
											Confirm</label> <input required class="form-control"
											name="confirmpassword" type="password"
											style="color: #6b6b47;">
									</div>
								</div>


								<button type="submit" class="btn text-white col-md-12"
									style="background-color: #505C3C; font-weight: bold; font-size: 20px; margin-bottom: 10px;">Register</button>
							</form>
						</div>
						<div class="card-footer text-center"
							style="color: #505C3C; margin-bottom: 0">
							Already have an account? <a href="/signin"
								style="color: #a3a375; text-decoration: underline; font-style: italic;">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>