<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base1::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section style="min-height: 92.1vh; background-color: #f6f6ee">

    <div class="container-fluid mt-5 p-3">
        <p class="text-center fs-3"
           style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 35px; margin-bottom: 25px;">ALL ORDERS</p>
        <hr>
        <div class="row">

            <div class="col-md-4">

                <a href="/admin" class="text-decoration-none" style="font-family: sans-serif; color: #505C3C;"><i
                        class="fa-solid fa-arrow-left"></i> Back</a>
            </div>
            <th:block th:if="${session.succMsg}">
                <p class="text-success fw-bold text-center"
                   style="font-size: 1.8rem; font-weight: 700;">[[${session.succMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold text-center"
                   style="font-size: 1.8rem; font-weight: 700;">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>



            <div class="col-md-4" style="width: 575px; margin-bottom: 15px">

                <form action="/admin/search-order" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control p-2" name="orderId">
                        <button class="btn" style="background-color: #E0E0D1">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>

            </div>



            <div class="col-md-12 ps-4 pe-4">

                <table class="table card-sh">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Order Id</th>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Deliver Details</th>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Date</th>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Product Details</th>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Price</th>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Status</th>
                        <th scope="col" style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${srch}">
                        <th:block th:if="${orderDtls!=null}">
                            <tr>
                                <th scope="row" style="color: #505C3C; font-family: sans-serif;">[[${orderDtls.orderId}]]</th>
                                <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">Name: [[${orderDtls.orderAddress.firstName+'
                                    '+orderDtls.orderAddress.lastName}]]<br> Email:
                                    [[${orderDtls.orderAddress.email}]]<br> MobNo:
                                    [[${orderDtls.orderAddress.mobileNo}]]<br> Address:
                                    [[${orderDtls.orderAddress.address}]]<br> City:
                                    [[${orderDtls.orderAddress.city}]]<br> State:
                                </td>
                                <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${orderDtls.orderDate}]]</td>
                                <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${orderDtls.product.name}]]</td>
                                <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">Quantity : [[${orderDtls.quantity}]] <br>Price:
                                    [[${orderDtls.price}]] <br>Total Price:
                                    [[${orderDtls.quantity * orderDtls.price}]]
                                </td>
                                <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${orderDtls.status}]]</td>
                                <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">
                                    <form action="/admin/update-order-status" method="post">
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-control" name="st" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
                                                    <option>--select--</option>
                                                    <option value="1" style="color: #505C3C; font-family: sans-serif;">In Progress</option>
                                                    <option value="2" style="color: #505C3C; font-family: sans-serif;">Order confirmed</option>
                                                    <option value="3" style="color: #505C3C; font-family: sans-serif;">Product Packed</option>
                                                    <option value="4" style="color: #505C3C; font-family: sans-serif;">Out for Delivery</option>
                                                    <option value="5" style="color: #505C3C; font-family: sans-serif;">Delivered</option>
                                                    <option value="6" style="color: #505C3C; font-family: sans-serif;">Cancelled</option>
                                                </select>
                                            </div>
                                            <input th:value="${orderDtls.id}" name="id" type="hidden">
                                            <div class="col">
                                                <th:block
                                                        th:if="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
                                                    <button class="btn btn-sm col disabled" style="background-color: #2d862d; color: white; border: none">Update</button>
                                                </th:block>
                                                <th:block
                                                        th:unless="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
                                                    <button class="btn btn-sm " style="background-color: #2d862d; color: white; border: none">Update</button>
                                                </th:block>

                                            </div>
                                        </div>
                                    </form>
                                </td>


                            </tr>
                        </th:block>
                        <th:block th:unless="${orderDtls!=null}">
                            <p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${srch}">
                        <tr th:each="o:${orders}">
                            <th scope="row"  style="color: #505C3C; font-family: sans-serif;">[[${o.orderId}]]</th>

                            <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">Name: [[${o.orderAddress.firstName+'
                                '+o.orderAddress.lastName}]]<br> Email:
                                [[${o.orderAddress.email}]] <br> MobNo:
                                [[${o.orderAddress.mobileNo}]] <br> Address:
                                [[${o.orderAddress.address}]] <br> City:

                            </td>
                            <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${o.orderDate}]]</td>
                            <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${o.product.name}]]</td>
                            <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">Quantity: [[${o.quantity}]] <br>Price:
                                [[${o.price}]] <br>Total Price: [[${o.quantity *
                                o.price}]]
                            </td>
                            <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${o.status}]]</td>
                            <td style="color: #505C3C; font-family: sans-serif; font-weight: 500">
                                <form action="/admin/update-order-status" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" name="st" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
                                                <option>--select--</option>
                                                <option value="1" style="color: #505C3C; font-family: sans-serif; font-weight: 500">In Progress</option>
                                                <option value="2" style="color: #505C3C; font-family: sans-serif; font-weight: 500">Order confirmed</option>
                                                <option value="3" style="color: #505C3C; font-family: sans-serif; font-weight: 500">Product Packed</option>
                                                <option value="4" style="color: #505C3C; font-family: sans-serif; font-weight: 500">Out for Delivery</option>
                                                <option value="5" style="color: #505C3C; font-family: sans-serif; font-weight: 500">Delivered</option>
                                                <option value="6" style="color: #505C3C; font-family: sans-serif; font-weight: 500">Cancelled</option>
                                            </select>
                                        </div>
                                        <input th:value="${o.id}" name="id" type="hidden">
                                        <div class="col">
                                            <th:block
                                                    th:if="${o.status=='Cancelled' || o.status=='Delivered'}">
                                                <button class="btn btn-sm col disabled"  style="background-color: #2d862d; color: white; border: none">Update</button>
                                            </th:block>
                                            <th:block
                                                    th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">
                                                <button class="btn btn-sm"  style="background-color: #2d862d; color: white; border: none">Update</button>
                                            </th:block>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <th:block th:if="${!srch}">
                    <div class="row">
                        <div class="col-md-4" style="color: #505C3C; font-family: sans-serif;">Total Orders : [[${totalElements}]]</div>
                        <div class="col-md-6">

                            <nav aria-label="Page navigation example">
                                <ul class="pagination" style="margin-left: 230px;">
                                    <li class="page-item"><a class="page-link"
                                                             th:classappend="${isFirst} ? 'disabled':''"
                                                             th:href="@{'/admin/orders?pageNo=' + (${pageNo - 1})}"
                                                             aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                    </a></li>
                                    <li th:each="i:${#numbers.sequence(1,totalPages)}"
                                        class="page-item" th:classappend="${pageNo+1==i}?'active':''"><a
                                            class="page-link"
                                            th:href="@{'/admin/orders?pageNo=' + (${i - 1})}">[[${i}]]</a></li>

                                    <li class="page-item"><a class="page-link"
                                                             th:classappend="${isLast} ? 'disabled':''"
                                                             th:href="@{'/admin/orders?pageNo='+${pageNo+1}}"
                                                             aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                    </a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </th:block>



            </div>
        </div>
    </div>
    <style>
        .page-link {
            font-family: sans-serif;
            color: #505C3C;
            font-weight: 600;
            font-size: 18px;
            border-bottom: solid 1px rgba(0,0,0,0.08);
        }

        .active>.page-link, .page-link.active {
            background-color: #505C3C !important;
            color: white !important;
            border: none;
        }

        .page-link:hover {
            background-color: #e0e0d1;
            color: #505C3C;
        }
    </style>

</section>
</body>
</html>