<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base1::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section style="min-height: 92.1vh; background-color: #f6f6ee">

    <div class="container-fluid mt-5 p-5">
        <div class="row">
            <p class="text-center fs-3"
               style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 20px; margin-bottom: 25px;">MY
                ORDERS</p>
            <th:block th:if="${session.succMsg}">
                <p class="text-success fw-bold text-center"
                   style="font-size: 1.8rem; font-weight: 700;">[[${session.succMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold text-center"
                   style="font-size: 1.8rem; font-weight: 700;">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <div class="col-md-12">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" style="font-family: sans-serif; color: #505C3C">Sl
                            No</th>
                        <th scope="col" style="font-family: sans-serif; color: #505C3C">Date</th>
                        <th scope="col" style="font-family: sans-serif; color: #505C3C">Product
                            Details</th>
                        <th scope="col" style="font-family: sans-serif; color: #505C3C">Price</th>
                        <th scope="col" style="font-family: sans-serif; color: #505C3C">Status</th>
                        <th scope="col" style="font-family: sans-serif; color: #505C3C">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o:${orders}">
                        <th scope="row" style="font-family: sans-serif; color: #505C3C">[[${o.orderId}]]</th>
                        <td style="font-family: sans-serif; color: #505C3C">[[${o.orderDate}]]</td>
                        <td style="font-family: sans-serif; color: #505C3C">[[${o.product.name}]]</td>
                        <td style="font-family: sans-serif; color: #505C3C">Quantity
                            : [[${o.quantity}]] <br>Price : [[${o.price}]] <br>Total
                            Price : [[${o.quantity * o.price}]]
                        </td>
                        <td style="font-family: sans-serif; color: #505C3C">[[${o.status}]]</td>
                        <td><th:block
                                th:if="${o.status != 'Cancelled' && o.status != 'Delivered' && o.status != 'Out for Delivery' && o.status != 'Product Packed'}">
                            <a th:href="@{'/user/update-status?id=' + ${o.id} + '&st=6'}"
                               class="btn btn-sm btn-danger">Cancel</a>




                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>
</body>
</html>