<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section style="min-height: 92.1vh; background-color: #f6f6ee">

		<div class="container mt-5 p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center">
					<i class="fa-solid fa-circle-check fa-7x text-success" style="margin-top: 100px; margin-bottom: 50px"></i>
					<p class="fs-3" style="font-family: sans-serif; color: #505C3C; font-weight: bold;">Product Ordered Successfully!</p>
					<p class="fs-4" style="font-family: sans-serif; color: #505C3C;">Product will be delivered with in 7 days</p>
					<div class="text-center">
						<a href="/" class="btn btn-primary" style="font-family: sans-serif; background-color: #505C3C; font-weight: bold; border: none; font-size: 20px; padding: 5px 20px 5px 20px; margin: 20px 30px 20px 10px">Home</a> <a href="/user/user-orders"
							class="btn btn-primary" style="font-family: sans-serif; background-color: #505C3C; font-weight: bold; border: none; font-size: 20px; padding: 5px 20px 5px 20px; margin: 20px 30px 20px 10px">Your Order</a>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>